@import "@suis-ui/kit/style.css";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-width: 0;
  height: 100%;
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}
